
<div class="col-md-4">
<a href="/angular-sportstars" class="btn btn-success">Back</a>
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="resources/images/sachin.jpg" alt="...">
    </a>
  </div>
</div>
<div class="col-md-8">
    <h1>{{player.name}}</h1>
    <div>
      Age: {{player.age}}
    </div>
    <div>
      Gender: {{player.gender}}
    </div>
    <div>
      Country: {{player.country}}
    </div>
    <div>
      Sports: {{player.sports}}
    </div>
    <div>
      Trophies: {{player.trophies}}
    </div>
</div>